[submodule "source/interbotix_ros_core"]
	path = docs/source/interbotix_ros_core
	url = https://github.com/Interbotix/interbotix_ros_core.git
	branch = main
[submodule "source/interbotix_ros_manipulators"]
	path = docs/source/interbotix_ros_manipulators
	url = https://github.com/Interbotix/interbotix_ros_manipulators.git
	branch = main
[submodule "source/interbotix_ros_toolboxes"]
	path = docs/source/interbotix_ros_toolboxes
	url = https://github.com/Interbotix/interbotix_ros_toolboxes.git
	branch = main
